/* Details Page */
.cocktail-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
    gap: 2rem;
  
    .details-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      .details-tags {
        display: flex;
        gap: 1rem;
      }
    }
  }