/*Landing page styles*/

/* .logo{
  height: 250px!important; 

} */

.random-cocktail-container {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cocktail-card {
    padding: 1rem;
    width: 40%;
  }
  
  .cocktail-card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .view-more,
  .show-another-cocktail {
    margin-top: 1rem; 
  }
  
  .show-another-cocktail {
    margin-top: 0.5rem; 
  }


  