#root {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;           
    flex-direction: column;     
    height: 100vh;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to left, #f28621, #f3e3e3);
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;

    .logo {
        height: 70px;
        align-self: baseline;
        grid-column: 1;
    }

    >*:nth-child(2) {
        grid-column: 7;
    }

    >*:nth-child(3) {
        grid-column: 8;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: antiquewhite;
    }

    .active-link {
        font-weight: bold;
        color: var(--accent-red);
    }
}

.main-content-container {
    border: 0.2rem solid var(--accent-red);
    border-radius: 15px;
    background-color: var(--main-container-background);

    padding: 2rem;
    margin: 1rem auto;
    max-width: 1200px;
}




.card-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

/*Cocktail card*/
.card {
    background-color: #e5bebe;
    padding: 2rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px (rgba(0, 0, 0, 0.1));
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Favourite icon */
.favorite-icon {
    margin: 0;
    padding: 0.2rem;
    background-color: transparent;
    cursor: pointer;
    align-self: self-end;
}
.favorite-icon svg {
    font-size: 1.5rem;
}
button.favorite-icon {
    margin: 0;
    padding: 0.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: self-end;
    outline: none;
}
button.favorite-icon:hover {
    background-color: transparent;
    border: none;
}
button.favorite-icon:hover:active {
    background-color: transparent;
}


/* Remove focus outline when clicked or focused */
button.favorite-icon:focus,
button.favorite-icon:active {
    outline: none;
    border: none;
    background-color: transparent;
}


/* Global not found for everything that is not found :) */
.not-found-container {
    width: fit-content;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;

    h3,
    h2 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .not-found-image {
        height: 30rem;
        object-fit: cover;
    }

    .four-oh-four {
        background-color: var(--accent-red);
        border-radius: 15px;
        transform: rotate(-10deg);
        display: inline-block;
        transform-origin: center;
    }

    .bottle {
        transform: rotate(10deg);
        display: inline-block;
        transform-origin: center;
    }

}

.footer {
    background-color: #f28621e1; 
    /* background-color: var(--header-orange); */

    color: antiquewhite;             
    text-align: center; 
    font-size: small;         
    padding: 0.5rem;             
    position: relative;          
    bottom: 0;                  
    width: 100%;     
    margin-top: auto;           
}


/* RESPONSIVITY */
/* ------------------------------------------------------------------------ */

@media (max-width: 768px) {
    .not-found-container {
        padding: 0 5rem;
    }

    .not-found-image {
        height: 250px;
    }
}


@media (max-width: 480px) {
    .header {
        grid-template-columns: 1fr 2fr 6fr 1fr 1fr 1fr;
        padding: 1rem;

        >*:nth-child(2) {
            grid-column: 2;
        }

        >*:nth-child(3) {
            grid-column: 3;
        }
    }

    .not-found-container {
        padding: 0 1rem;
    }

    .not-found-image {
        height: 200px;
    }

    .four-oh-four {
        font-size: 1.5rem;
        transform: rotate(-5deg);
    }

    .bottle {
        transform: rotate(5deg);
    }
}


/* ------------------------------------------------------------------------ */