#root {
  width: 100vw;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: rgba(134, 134, 134, 0.247);
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

.random-cocktail-container, .card-container, .cocktail-details {
  border: 5px solid var(--accent-red);
  border-radius: 15px;
  background-color: rgb(211, 192, 255);
  margin: 4rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #E5BEBE;
  padding: 2rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

