#root {
  width: 100vw;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: rgba(134, 134, 134, 0.247);
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #E5BEBE;
  padding: 2rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*Landing page styles*/

.random-cocktail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-card {
  padding: 1rem;
  width: 25%;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #cf539b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b80b70;
}